.solrCheckboxContainer
.solrSearchHitsList {
  margin-top:0;
}
.solrSpellchecking {
  margin-top:1em;
}
.solrSearchHits {
  display: -webkit-flex; 
  display:         flex;

  -webkit-flex-wrap:wrap;
          flex-wrap:wrap;
}
.solrSearchHits h4 {
  margin:0 0 0.5em 0;
  padding:0;
}
.solrSearchHits h4 a {
  text-decoration:none;
}
.solrSearchHits h4 a:hover {
  text-decoration:underline;
}
.solrSearchHits .foswikiProfileInfo,
.solrSearchHits .foswikiProfileInfo:first-child {
  border:1px solid #d1d1d1;
  padding:0.5em 0.5em 0.5em 90px;
}
.solrSearchHits:after,
.solrSearchHits .foswikiProfileInfo {
  overflow:hidden;
  position:relative;
  border-radius:5px;
  box-shadow:0 0 10px #ececec;
  box-sizing:border-box;
  background-color:#fcfcfc;
  font-size:95%;
  margin:15px 15px 0 0;
  min-height:120px;
  min-width:18em;

  -webkit-flex-basis:31%; 
          flex-basis:31%;
  -webkit-flex-grow:1; 
          flex-grow:1;
  -webkit-flex-shrink:0;
          flex-shrink:0;
}
.solrSearchHits:after {
  visibility:hidden;
  content:"";
  -webkit-flex-grow:9999999; 
          flex-grow:9999999;
}
.solrSearchHits .foswikiProfileInfo .foswikiImage {
  position:absolute;
  top:0;
  left:0;
  width:80px;
  height:100%;
  margin:0;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}
.solrSearchHits .foswikiTopicInfo {
  margin:0;
  padding:0;
  list-style:none;
  white-space:nowrap;
}
