%TMPL:INCLUDE{"viewtopbar"}%
%TMPL:DEF{"topbar"}%<div id="patternTopBar"><div id="patternTopBarContentsWrapper"><div id="patternTopBarContents">
<table border="0" cellpadding="0" cellspacing="0" style="width:100%" summary="">
  <tr><td><span id="foswikiLogo" class="foswikiImage"><a href="%WEBLOGOURL%"><img src="%WEBLOGOIMG%" border="0" alt="%WEBLOGOALT%" style="border:none;" /></a></span></td>
  <td align="right" class="patternMetaMenu">%TMPL:P{"searchbox"}%</td>
  </tr>
</table>
%JQREQUIRE{"SearchBox"}%<!-- -->
</div></div>
</div>%TMPL:P{"horizontalnavigation"}%%TMPL:END%
   
%TMPL:DEF{"searchbox"}%<div class="solrSearchBox jqUITooltip" data-theme="info" data-arrow="on" data-position="left">
  <form name="searchbox" id="searchbox" action="%SCRIPTURLPATH{"view" topic="%BASEWEB%.WebSearch"}%" %TMPL:P{"searchbox::params"}% >
    <input type="search" class="foswikiInputField" placeholder="%TMPL:P{"searchbox::placeholder"}%" size="40" title="%MAKETEXT{"Enter topic name or a search string"}%" name="search" autocomplete="off" value="%TMPL:P{"searchbox::value"}%" accesskey="f" /> 
    <input type="hidden" name="origin" value="%WEB%.%TOPIC%" />
  </form>
</div>%TMPL:END%

%TMPL:DEF{"searchbox::value"}%%URLPARAM{"search" encode="entity"}%%TMPL:END%
%TMPL:DEF{"searchbox::params"}%data-position-my="right top" data-position-at="right bottom+11"%TMPL:END%
%TMPL:DEF{"searchbox::placeholder"}%%MAKETEXT{"Search"}%%TMPL:END%
